/* this is for links*/
a {
    color: white;
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: green !important;
    text-decoration: underline; /* Add underline on hover */
}

a:visited {
    color: lightgray;
}

a:active {
    color: gray;
}

/* Remove text underline, inherit text color */
.project-link {
    text-decoration: none;
    color: inherit;
    cursor: default;
}
.project-link:hover {
    text-decoration: none !important;
    color: inherit;
}
.project-link:visited {
    color: green;
}

.project-link:active {
    color: green;
}

/* Remove text underline, inherit text color */
.download {
    text-decoration: none;
    color: inherit;
    cursor: default;
}
.download:hover {
    text-decoration: none !important;
    color: inherit;
}
.download:visited {
    color: green;
}

.download:active {
    color: green;
}
