#homepage {
    height: 100%;  /* Ensure the body takes up full height */
    margin: 0;
    display: flex; /* Apply Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Optional: Stack elements vertically */
  }
  #homepage html, #homepage body {
    height: 100%;
    overflow: hidden; /* Disable scrolling */
    margin: 0;
  }
  .unselectable {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
 }
 .filled:before,
 .filled:after {
   background: red !important;
 }
#wrapper {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;  /* Push it down by half of the viewport height */
}
.heart {
   position: relative;
   top: calc(50% - 45px);   /* 1/2 height of wrapper - 1/2 height of heart */
   left: calc(50% - 50px);  /* 1/2 width of wrapper  - 1/2 width of heart */
   width: 640px;            /* Increased width */
   height: 576px;           /* Increased height */
}
 .heart:before,
 .heart:after {
   position: absolute;
   content: "";
   top: 0px;
   width: 320px;            /* Adjusted for larger size */
   height: 512px;           /* Adjusted for larger size */
   -moz-border-radius: 50px 50px 0 0;
        border-radius: 100% 100% 0 0;
 }
 .heart:before {
   left: 5vw;             /* Adjusted for larger size */
   -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
           transform: rotate(-45deg);
   -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
       -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
           transform-origin: 0 100%;
   
   border-left: 2px solid red;
   border-top: 2px solid red;
   border-bottom: 1px solid red;
 }
 .heart:after {
   left: -19vw;
   -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
           transform: rotate(45deg);
   -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
       -ms-transform-origin: 100% 100%;
        -o-transform-origin: 100% 100%;
           transform-origin: 100% 100%;
   
   border-right: 2px solid red;
   border-top: 2px solid red;
   border-bottom: 1px solid red;
 }
 .heart-text {
    position: absolute;
    top: 50%;               /* Center vertically */
    left: 50%;              /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    z-index: 100;
    font-size: 5vw;         /* Adjust font size to be responsive to screen size */
    font-weight: bold;
    text-align: center;
    color: #D5FFFF;         /* Light text color */
    line-height: 1.2;       /* Adjust line height for better text spacing */
 }
 