/* imports */
@font-face {
  font-family: 'Dot-Matrix';
  src: url("../style/DOTMBold.TTF") format('truetype');
}

html, body {
    overflow: auto; /* Ensures that content can overflow and a scrollbar appears */
    height: auto;   /* Allows the body to grow beyond the viewport */
}

/* this is for body specific design */
body {    
    background-color: black;
    color: Green;
    font-family: 'Dot-Matrix', sans-serif;
    font-size: 25px;
    overflow: hidden; /* Hide overflow */
}

.navigation-bar {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Dot-Matrix', sans-serif;
    background-color: black;
    color: green;
    border: 2px solid #008000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}

/* this is for span's and others */
    .blue {
        color: blue;
    }
    .left-margin {
        margin-left: 60%;
    }
    .input-space {
	    position: relative;
        left: 5%;
    }
    .right-margin {
    position: fixed;
        right: 30%;
    }
    .errorEffect {
	color: red;
	font-size: 20px;
    }
    .bigText {
	color: green;
	font-size: 25px;
    }
    .smallerText {
	font-size: 3px !important;
    }