/* imports */
@font-face {
  font-family: 'Dot-Matrix';
  src: url("style/DOTMBold.TTF") format('truetype');
}

/* this is for body specific design */
body {
    background-color: black;
    color: Green;
    font-family: 'Dot-Matrix', sans-serif;
    font-size: 25px;
  overflow: hidden; /* Hide overflow */
}


/* this is for links*/
a {
    color: white;
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: green !important;
    text-decoration: underline; /* Add underline on hover */
}

a:visited {
    color: lightgray;
}

a:active {
    color: gray;
}

/* Style for form sections*/
input[type="text"], input[type="password"], textarea {
    font-family: 'Dot-Matrix', sans-serif;
    font-size: 20px;
    border: 1px solid #008000;
    background-color: black;
    color: green;
    padding: 5px;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
    border-color: #008000;
}

input[type="submit"] {
    font-family: 'Dot-Matrix', sans-serif;
    background-color: black;
    color: green;
    border: 2px solid #008000;
    padding: 5px 10px;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    appearance: none;
}

input[type="radio"]::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid #008000;
    margin-right: 5px;
    vertical-align: middle;
}

input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: black;
    border: 2px solid #008000;
    margin-right: 5px;
    vertical-align: middle;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    background-color: Green;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Dot-Matrix', sans-serif;
    background-color: black;
    color: green;
    border: 2px solid #008000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: green;
    color: black;
}

.button:active {
    background-color: darkgreen;
    color: black;
}

/* this is for span's and others */
    .blue {
        color: blue;
    }
    .left-margin {
        margin-left: 60%;
    }
    .input-space {
	position: fixed;
        left: 20%;
    }
    .right-margin {
    position: fixed;
        right: 30%;
    }
    .errorEffect {
	color: red;
	font-size: 20px;
    }
    .bigText {
	color: green;
	font-size: 25px;
    }
    .smallerText {
	font-size: 3px !important;
    }